<div class="container">
  <div *ngFor="let result of results">
    <div class='card card-inverse' style='background-color: #333; border-color: #333; margin-bottom: 10px;'>
      <div class='card-block'>
        <h3 class='card-title'>{{result.name}}</h3>
        <p class='card-text' style='margin-bottom: 0px;'><span>Address: </span>{{result.address}}, {{result.city}}, {{result.state}}</p>
        <p class='card-text' style='margin-bottom: 0px;'><span>Phone: </span>{{result.phone}}</p>
        <p class='card-text' style='margin-bottom: 0px;'><span>Cuisine: </span>{{result.cuisine}}</p>
        <p class='card-text' style='margin-bottom: 0px;'><span>Budget: </span>{{result.budget}}</p>
        <p class='card-text'><span>Wait Time: </span>{{result.lowWait}}-{{result.highWait}}<span>  minutes</span></p>
        <form method='post'>
          <a href="/reservation" (click)="makeReservation()" class='btn btn-primary' role='button'>Queue Me</a>
        </form>
      </div>
    </div>
  </div>
</div>
