<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a class="list-group-item active">Overview</a>
        <a class="list-group-item" (click)="showTimeForm()">Submit Data</a>
        <a class="list-group-item">Feedback</a>
        <a class="list-group-item">Analytics</a>
        <a class="list-group-item" (click)="showList()">Guest List</a>
      </div>
    </div>
    <div class="col-xs-9 col-sm-8 col-sm-push-3">
      <div class="jumbotron" id="timeForm" *ngIf="showTime">
        <h2>Enter Estimated Wait Times</h2>
        <form action="" (ngSubmit)="submitTime()">
          <div class="form-group">
            <input name="id" type="text" class="form-control" id="restaurantID" placeholder="User Name" [(ngModel)]="model.user">
          </div>
          <div class="form-group">
            <input name="lowWait" type="text" class="form-control" id="lowWaitTime" placeholder="Estimated Low Wait Time" [(ngModel)]="model.lowWait">
          </div>
          <div class="form-group">
            <input name="highWait" type="text" class="form-control" id="highWaitTime" placeholder="Estimated High Wait Time" [(ngModel)]="model.highWait">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="jumbotron" id="" *ngIf="showGuestList">
        <div *ngFor="let result of list">
          <div class='card card-inverse' style='background-color: #333; border-color: #333; margin-bottom: 10px;'>
            <div class='card-block'>
              <p class='card-text' style='margin-bottom: 0px;'><span>Guest Name: </span>{{result.guestName}}</p>
              <p class='card-text' style='margin-bottom: 0px;'><span>Wait List: </span>{{result.waitList}}</p>
              <p class='card-text' style='margin-bottom: 0px;'><span>Group Size: </span>{{result.groupSize}}</p>
              <form method='post'>
                <a routerLink="/"  class='btn btn-primary' role='button'>Notify</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
