<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Overview</a>
        <a href="#" class="list-group-item">Submit Data</a>
        <a href="#" class="list-group-item">Feedback</a>
        <a href="#" class="list-group-item">Analytics</a>
        <a href="#" class="list-group-item">Guest List</a>
      </div>
    </div>
  </div>
</div>
