<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="navBar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#" id="appName">Queued</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{about}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
    </ul>
    <button class="btn btn-primary" id="signUp" type="submit">Sign Up</button>
    <button class="btn btn-primary" type="submit">Log-In</button>
  </div>
</nav>
<router-outlet></router-outlet>
