<div class="container" id="home">
  <div class="jumbotron">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Say goodbye!!, to long wait times</p>
    <hr class="my-4">
    <p>If you are a consumer, you can see the list of restaurants by clicking on the consumer button below</p>
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/search" role="button">Consumer</a>
        </p>
      </div>
      <div class="col-12 col-md-auto">
      </div>
      <div class="col col-lg-2">
        <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/provider" role="button">Provider</a>
        </p>
      </div>
    </div>
  </div>
</div>

